.alert-message{
	position: fixed;
	bottom: 0px;
	margin-bottom: 0px;
	width: 100%;
	margin-left: 0px;
	left: 0px;
	border-radius: 0px;
	margin-right: 0px;
	bottom: -53px;
	z-index: -100px;
	transition: bottom 0.5s;
	&.active{
		bottom: 0px;
	}
}