// bower:scss
// endbower

@import 'vars';

#codes-page{
	.code-suggestion{
		padding-top: 7px;
	}
	.codes-content{
		margin-left: 200px;
		position: absolute;
		right: 0px;
		left: 200px;
		bottom: 0px;
		top: 121px;
		overflow-y: auto;
	}
	.block{
		margin-right: 15px;
		display: inline-block;
		&:hover{
			cursor: pointer;
		}
	}
	.label{
		opacity: 0.7;
	}
	.block.active .label{
		opacity: 1;
	}
	.blocks-container{
		padding: 21px;
		padding-bottom: 0px;

		h4{
			margin-top: 0px;
			margin-bottom: 20px;
		}
		.block-title{
			> * {
				display: inline-block;
				vertical-align: bottom;
				margin-right: 10px;
				margin-bottom: 15px;

			}
			.btn{
				padding: 2px 7px;
				border-radius: 0px;
				background-color: #27c24c;
				border-color: #27c24c;
			}
		}
	}
	.row{
		margin-left: 0px;
		margin-right: 0px;
	}

	.sidebar{
		// margin-top: 66px;
		// overflow-y: auto;
		width: 400px;

		.item-list{
			margin-top: -5px;
			position: absolute;
			left: 0px;
			right: 0px;
			top: 44px;
			bottom: 0px;
			overflow-y: auto;
			.item{
				height: 51px;
			    padding-top: 4px;
			    padding-bottom: 0px;
			    position: relative;

			    .block-date{
			    	margin-top: 2px;
			    	opacity: 0.8;
			    	opacity: 0.7;
		    	    font-size: 13px;
			    }
			    .block-bottom{
			    	position: absolute;
			    	bottom: 6px;
			    	.date{
			    		margin-right: 5px;
			    	}
			    }
			    .block-fields{
			    	position: absolute;
		    	    right: 15px;
		    	    top: 4px;
		    	    text-align: right;
		    	    font-size: 13px;
		    	    > *.active{
		    	    	font-weight: bold;
		    	    }
			    }
			    .title{
			    	font-weight: bold;
			    }
			}
		}

	}

	.block-header{
		margin-left: 401px;
	}

	.block-detail{
		margin-left: 400px;
		position: absolute;
		right: 0px;
		left: 200px;
		bottom: 0px;
		top: 121px;
		overflow-y: auto;
		padding: 20px;
	}
	input{
		padding-left: 15px;
		padding-right: 15px;
	}

	.codes-header-title{
		h1{
			display: inline-block;
		}
		h1.small{
			margin-top: 0px;
			margin-left: 5px;
		}
	}

	#dashboard-page{
		padding-bottom: 12px;
	}

	.filters{
		margin-top: 0px;
		width: 120px;
		display: inline-block;
		height: 40px;
		.filter{
			padding: 0px;
			height: 40px;
		}
		> .form-control{
			width: 33.333%;
		}
		.form-control{
			border-color: #eee;
		}
		i{
			position: absolute;
		    left: 50%;
		    -webkit-transform: translate(-50%, 0);
		    transform: translate(-50%, 0);
		    padding: 13px;
		    background: #FAFAFA;
		    width: 39px;
		    height: 39px;
		    top: 0px;
		    &.active{
		    	background: $main-blue;
		    	color: white;
		    }
		}
		select,input{
			background: transparent;
			// color: transparent;
			margin-bottom: 0px;
			height: 40px;
			&:hover{
				cursor: pointer;
			}
		}
		select{
			-webkit-appearance: none;
			-moz-appearance: none;
			text-indent: 1px;
			text-overflow: '';
			padding: 0px 20px;
		}
	}
	.assigned-filters{
		height: 40px;
		width: 280px;
    	display: inline-block;
		// padding: 2px;
		background-color: #eee;
		background-color: #F6F8F8;
		text-align: center;

		.filter{
			height: 100%;
			line-height: 33px;
			border-right: 1px solid #ccc;
		}
		.filter.active{
			background-color: $main-blue;
			color: white;
		}
		.filter:hover{
			cursor: pointer;
		}
		.filter:last-child{
			border: none;
		}
	}


}