// bower:scss
// endbower

@import 'vars';

#dashboard-page{
	i.collapsed{
		z-index: -1;

	}
	input.collapsed,select.collapsed{
		width: 40px;
		background: transparent;
	}

	.active-users{
		span{
			display: block;
			text-align: right;
		}
	}
	.panel-body.small{
		height: 270px;
	}

	#gender-info{
		padding-top: 68px;
		img{
			width: 60px;
		}
		.male,.female{
			display: inline-block;
			width: 50%;
			text-align: center;
		}
		.male > *, .female > *{
			display: inline-block;
			vertical-align: middle;
		}
		.text{
			margin-left: 20px;
			text-align: left;
		}
		.percentage{
			display: block;
			font-size: 36px;
			font-weight: 200;
		}
		.info{
			opacity: 0.7;
		}
		.male{
			.percentage{
				color: #23b7e5;
			}
			.info{
				color: #23b7e5;
			}
		}
		.female{
			.percentage{
				color: #f08cc8;
			}
			.info{
				color: #f08cc8;
			}
		}
	}
}

body .app-content{

	#dashboard-page{

		.row{
			margin-left: 0px;
			margin-right: 0px;
		}

		.range-select{
			margin-bottom: 0px;
		}

		.map-container{
			.panel-heading{
				button{
					margin-left: -3px;
				}
			}
		}
		.last-codes-table{
			img{
				width: 100%;
			}
		}
	}


}

.marker-image{
	widows: 20px;
}


.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover{
	color: #fff!important;
	 background-color: #19a9d5;
	border-color: transparent;
}
.daterangepicker .ranges li{
	border-radius: 0px;
	border-color: transparent;
	margin-bottom: 6px;
	color: #58666e;
	padding-top: 5px;
	  padding-bottom: 5px;
}
.daterangepicker .ranges .range_inputs>div{
	margin-top: 10px;
	margin-bottom: 10px;
}
.daterangepicker .ranges .input-mini{
	border-radius:0px;
}
.daterangepicker .daterangepicker_start_input label, .daterangepicker .daterangepicker_end_input label{
	color: #aaa;
}
.daterangepicker .calendar-date{
	border-radius: 0px;
	font-size: 12px;
}
.daterangepicker td.active, .daterangepicker td.active:hover{
	 background-color: #19a9d5;
	 border-radius: 0px;
}
.icon-user-female, .icon-user-follow, .icon-user-following, .icon-user-unfollow, .icon-trophy, .icon-screen-smartphone, .icon-screen-desktop, .icon-plane, .icon-notebook, .icon-moustache, .icon-mouse, .icon-magnet, .icon-energy, .icon-emoticon-smile, .icon-disc, .icon-cursor-move, .icon-crop, .icon-credit-card, .icon-chemistry, .icon-user, .icon-speedometer, .icon-social-youtube, .icon-social-twitter, .icon-social-tumblr, .icon-social-facebook, .icon-social-dropbox, .icon-social-dribbble, .icon-shield, .icon-screen-tablet, .icon-magic-wand, .icon-hourglass, .icon-graduation, .icon-ghost, .icon-game-controller, .icon-fire, .icon-eyeglasses, .icon-envelope-open, .icon-envelope-letter, .icon-bell, .icon-badge, .icon-anchor, .icon-wallet, .icon-vector, .icon-speech, .icon-puzzle, .icon-printer, .icon-present, .icon-playlist, .icon-pin, .icon-picture, .icon-map, .icon-layers, .icon-handbag, .icon-globe-alt, .icon-globe, .icon-frame, .icon-folder-alt, .icon-film, .icon-feed, .icon-earphones-alt, .icon-earphones, .icon-drop, .icon-drawer, .icon-docs, .icon-directions, .icon-direction, .icon-diamond, .icon-cup, .icon-compass, .icon-call-out, .icon-call-in, .icon-call-end, .icon-calculator, .icon-bubbles, .icon-briefcase, .icon-book-open, .icon-basket-loaded, .icon-basket, .icon-bag, .icon-action-undo, .icon-action-redo, .icon-wrench, .icon-umbrella, .icon-trash, .icon-tag, .icon-support, .icon-size-fullscreen, .icon-size-actual, .icon-shuffle, .icon-share-alt, .icon-share, .icon-rocket, .icon-question, .icon-pie-chart, .icon-pencil, .icon-note, .icon-music-tone-alt, .icon-music-tone, .icon-microphone, .icon-loop, .icon-logout, .icon-login, .icon-list, .icon-like, .icon-home, .icon-grid, .icon-graph, .icon-equalizer, .icon-dislike, .icon-cursor, .icon-control-start, .icon-control-rewind, .icon-control-play, .icon-control-pause, .icon-control-forward, .icon-control-end, .icon-calendar, .icon-bulb, .icon-bar-chart, .icon-arrow-up, .icon-arrow-right, .icon-arrow-left, .icon-arrow-down, .icon-ban, .icon-bubble, .icon-camcorder, .icon-camera, .icon-check, .icon-clock, .icon-close, .icon-cloud-download, .icon-cloud-upload, .icon-doc, .icon-envelope, .icon-eye, .icon-flag, .icon-folder, .icon-heart, .icon-info, .icon-key, .icon-link, .icon-lock, .icon-lock-open, .icon-magnifier, .icon-magnifier-add, .icon-magnifier-remove, .icon-paper-clip, .icon-paper-plane, .icon-plus, .icon-pointer, .icon-power, .icon-refresh, .icon-reload, .icon-settings, .icon-star, .icon-symbol-female, .icon-symbol-male, .icon-target, .icon-volume-1, .icon-volume-2, .icon-volume-off, .icon-users{
	font-family: 'Glyphicons Halflings';
}
.icon-arrow-right:before{
	content: "\e080";
}
.icon-arrow-left:before{
	content: "\e079";
}
.daterangepicker .btn{
	font-size: 14px;
}
.daterangepicker .ranges .input-mini{
	font-size: 12px;
}