form{

	img{
		max-height: 200px;
	}
	
	.no-padding{
		padding: 0px;
	}
	input[type='file'] {
	  color: transparent;
	}
	input[type="file"]{
	   -webkit-appearance: none;
	   text-align: left;
	   -webkit-rtl-ordering:  left;
	}
	input[type="file"]::-webkit-file-upload-button{
	   -webkit-appearance: none;
	   float: right;
	   margin: 0 0 0 10px;
	   border: 1px solid #aaaaaa;
	   border-radius: 4px;
	   padding: 5px 9px;
	   font-size: 13px;
	   margin-top: 5px;
	}

	.submit-buttons{
		.pull-right{
			text-align: right;
		}
	}

	.action-image-crop{
		margin-top: 20px;
	}

	.premi-list,.news-list{
		.premio-container,.image-container{
			padding-left: 0px;
		}
		.premio,.image{
			position: relative;
			padding: 0px;
			border: 1px solid #ddd;

			.award-name{
				padding: 10px;
			}
			.award-content,.image-content{
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				background-color: rgba(0,0,0,0.3);
				color: white;
				font-weight: bold;
			}
			.award-actions,.image-actions{
				padding: 10px;
				i{
					color: #ddd;
					padding-left: 2px;
					padding-right: 2px;
				}
				i:hover{
					cursor: pointer;
				}
				i.glyphicon-trash:hover{
					color: red;
				}
				i.glyphicon-edit:hover{
					color: #19a9d5;
				}
			}
		}
		.add-award{
			margin-top: 10px;
		}
		.premio{
			img{
				width: 100%;
			}
		}
	}
}

#edit-award-modal{
	img{
		max-height: 200px;
	}
}