// bower:scss
// endbower

@import 'vars';

#invalidators-page{
	// .ui-grid{
	// 	opacity: 0.5;
	// 	&.active{
	// 		opacity: 1;
	// 	}
	// }
	.add-action{
		margin-bottom: 15px;
		button{
			position: absolute;
			top: 0px;
			z-index: 10;
			height: 34px;
			width: 34px;
			background-color: #dff0d8;
			border: 1px solid #ddd;
		}
		input{
			padding-left: 45px;
		}
	}
	.remove-action{
		text-align: center;
		height: 100%;
		padding-top: 5px;
		border-bottom: 1px solid #ddd;
		&:hover{
			cursor: pointer;
		}
	}
}