// bower:scss
// endbower

@import 'vars';

html{
	// background-image: url('/content/images/bg.jpg') !important;
	// background: url('/content/images/bg.jpg') !important;
	background-image: none ! important;
}

body .app-content{
	height: auto;
	.app-content-body{
		// width: 100% !important;
		// padding-top: 40px !important;
		padding-left: 0px !important;
		padding-bottom: 0px;
	}

	.relative{
		position: relative;
	}
	.center{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
	.right{
		position: absolute;
		right: 22px;
		top: 50%;
		transform: translate(0%,-50%);
	}
	.center > *, .right > *{
		display: inline-block;
		vertical-align: middle;
		&.glyphicon{
			position: relative;
			right: -30px;
		}
	}
	.center, .right{
		select,input{
			width: auto;
			padding-left: 35px;
			&:hover{
				cursor: default;
			}
		}
	}

	.id-range{
		background: #dff0d8;
		margin-bottom: -17px;
		margin-top: -15px;
		padding-top: 15px;
		padding-bottom: 17px;
		position: relative;
	}

	.option-bar-container{
		height: 40px;
		.option-bar{
			padding-top: 0px;
			padding-bottom: 0px;
			height: 0px;
			transition: height 0.5s;
			overflow: hidden;
			padding-left: 23px;
			&.active{
				height: 40px;
			}
			.option-bar-content{
				padding-top: 0px;
				padding-bottom: 0px;

				li:hover{
					cursor: pointer;
				}
				li{
					display: inline-block;
					padding: 11px;
					border-right: 1px solid #eee;
					border-left: 1px solid #eee;
					margin-right: -4px;
				}
			}
		}		
	}

}

.sidebar{
	width: 200px;
	position: absolute;
	bottom: 0px;
	top: 56px;
	  background: #fafafa;

	&.codes-sidebar .add{
		// background: #ddd;	
		// background: #23b7e5;	
		// color: white;
		// border-bottom: 1px solid black!important;
		background: #eee;
		border-bottom: 1px solid #bbb !important;
	}
	.add{
		padding: 15px;
		border-bottom: 1px solid #23b7e5!important;
		// text-align: center;
		span{
			margin-left: 2px;
			font-size: 16px;
		}
		&:hover{
			cursor: pointer;
		}
	}
	.add.active{
		background-color: #23b7e5;
		color: white;
	}
	.news,.item{
		position: relative;
		padding: 15px 15px;
		border-bottom: 1px solid #eee;	
		cursor: pointer;
		&.active{
			background: #23b7e5;
			color: white;
		}
		.icon{
			display: none;
		}
		&.active .icon{
			display: block;
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translate(0px,-50%);
			padding-top: 4px;

		}
	}
	.news.active,.item-active{
		background-color: #23b7e5;
		color: white;
	}
}

.gmap{
	padding-left: 0px;
	padding-right: 0px;
	.angular-google-map-container {
		height: 650px;
	}
}
.detail-map{
	display: block;
}
.angular-google-map-container { 
	height: 400px;
	width: 100%;
}

.custom-error{
	display: block;
	clear: both;
	margin-left: 17%;
	padding-top: 10px;
	padding-left: 15px;
	padding-bottom: 8px;
	color: red;
	display: none;
}
.submitted .custom-error{
	display: block;
}

body.unauthenticated{
	.app-content{
		margin-left: 0px;
	}
	.app-header .navbar-collapse{
		margin-left: 0px;
	}
}

.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell{
	background-color: #AFE5F6;
	background-color: #D7F2FA;
}

.save-alert{
	text-align: center;
}

ul.nav{
	i.glyphicon.glyphicon-download-alt{
		color: #1797be;
	}
}