#news-page{
	#fileInput{
		width: 100px;
		margin-bottom: 15px;
	}
	.add-image{
		.col-sm-6,.col-sm-12{
			padding-left: 0px;
		}
		button{
			margin-bottom: 10px;
		}
	}
	.news-detail{
		margin-left: 200px;
		width: calc(100% - 200px);
		padding-top: 15px;
	}
}