// bower:scss
// endbower

@import 'vars';

#notifications-page{
	h4{
		margin-bottom: 30px;
		text-align: center;
		font-size: 14px;
		font-weight: bold;
	}
	span.hint{
		padding-left: 10px;
		margin-bottom: 20px;
		display: block;
		font-weight: bold;
	}
}