// list
ul.nav
  // DASHBOARD
  li(ng-class="{'active': Utils.isActive('/dashboard')}", ng-show="security.isAuthorized(['admin','dashboard'])")
    a.auto(ng-href='/#!/')
      span.pull-right.text-muted
        i.fa.fa-fw.fa-angle-right.text
        i.fa.fa-fw.fa-angle-down.text-active
      i.glyphicon.glyphicon-stats.icon.text-info-dker
      span.font-bold(translate='aside.dashboard') Dashboard
    //- ul.nav.nav-sub.dk
      li(ng-if="!exportLink && security.user.role=='admin'")
        a(ng-click="exportUsers()")
          span Esporta Utenti
      li(ng-if="exportLink")
          a(ng-href="{{exportLink}}",target="blank_")
            i.glyphicon.glyphicon-download-alt
            span Salva Utenti
  // BRANDS
  li(ng-class="{'active': Utils.isActive('/invalidators')}", ng-show="security.isAuthorized(['admin'])")
    a.auto(ng-href='/#!/invalidators')
      span.pull-right.text-muted
        i.fa.fa-fw.fa-angle-right.text
        i.fa.fa-fw.fa-angle-down.text-active
      i.glyphicon.glyphicon-tags.icon.text-info-dker
      span.font-bold(translate='aside.invalidators') Invalidatori
  // INVALIDATORS
  li(ng-class="{'active': Utils.isActive('/brands')}", ng-show="security.isAuthorized(['admin'])")
    a.auto(ng-href='/#!/brands')
      span.pull-right.text-muted
        i.fa.fa-fw.fa-angle-right.text
        i.fa.fa-fw.fa-angle-down.text-active
      i.glyphicon.glyphicon-tags.icon.text-info-dker
      span.font-bold(translate='aside.brands') Brands
    ul.nav.nav-sub.dk
      li(ng-class="{'active': Utils.isActive('/brands/new')}")
        a(href='/#!/brands/new')
          span Nuovo Brand
  // PRODOTTI
  li(ng-class="{'active': Utils.isActive('/products')}", ng-show="security.isAuthorized(['admin'])")
    a.auto(ng-href='/#!/products')
      span.pull-right.text-muted
        i.fa.fa-fw.fa-angle-right.text
        i.fa.fa-fw.fa-angle-down.text-active
      i.glyphicon.glyphicon-stats.icon.text-info-dker
      span.font-bold(translate='aside.prodotti') Prodotti
    ul.nav.nav-sub.dk
      li(ng-class="{'active': Utils.isActive('/products/')}")
        a(href='/#!/products/new')
          span Nuovo prodotto
  // CODICI
  li(ng-class="{'active': Utils.isActive('/codes')}", ng-show="security.isAuthorized(['admin'])")
    a.auto(ng-href='/#!/codes/generate')
      span.pull-right.text-muted
        i.fa.fa-fw.fa-angle-right.text
        i.fa.fa-fw.fa-angle-down.text-active
      i.glyphicon.glyphicon-qrcode.icon.text-info-dker
      span.font-bold(translate='aside.codici') Codici
    ul.nav.nav-sub.dk
      li(ng-class="{'active': Utils.isActive('/codes/generate')}")
        a(href='/#!/codes/generate')
          span Genera Codici
      li(ng-class="{'active': Utils.isActive('/codes/edit')}")
        a(href='/#!/codes/edit')
          span Gestisci Codici
  // CAMPAGNE
  li(ng-class="{'active': Utils.isActive('/campaigns')}", ng-show="security.isAuthorized(['admin'])")
    a.auto(ng-href='/#!/campaigns')
      span.pull-right.text-muted
        i.fa.fa-fw.fa-angle-right.text
        i.fa.fa-fw.fa-angle-down.text-active
      i.glyphicon.glyphicon-bullhorn.icon.text-info-dker
      span.font-bold(translate='aside.campagne') Campagne
    ul.nav.nav-sub.dk
      li(ng-class="{'active': Utils.isActive('/campaigns/new')}")
        a(href='/#!/campaigns/new')
          span Nuova campagna
  // NEWS
  li(ng-class="{'active': Utils.isActive('/news')}", ng-show="security.isAuthorized(['admin'])")
    a.auto(ng-href='/#!/news')
      span.pull-right.text-muted
        i.fa.fa-fw.fa-angle-right.text
        i.fa.fa-fw.fa-angle-down.text-active
      i.glyphicon.glyphicon-globe.icon.text-info-dker
      span.font-bold(translate='aside.news') Notizie
  // PUSH NOTIFICATIONS
  li(ng-class="{'active': Utils.isActive('/notifications')}", ng-show="security.isAuthorized(['admin'])")
    a.auto(ng-href='/#!/notifications')
      span.pull-right.text-muted
        i.fa.fa-fw.fa-angle-right.text
        i.fa.fa-fw.fa-angle-down.text-active
      i.glyphicon.glyphicon-envelope.icon.text-info-dker
      span.font-bold(translate='aside.notifications') Notifiche
  // USERS EXPORT
  li(ng-class="{'active': Utils.isActive('/users/export')}", ng-show="security.isAuthorized(['admin'])")
    a.auto(ng-href='/#!/users/export')
      span.pull-right.text-muted
        i.fa.fa-fw.fa-angle-right.text
        i.fa.fa-fw.fa-angle-down.text-active
      i.glyphicon.glyphicon-download-alt
      span.font-bold(translate='aside.export') Esporta Utenti
