#codes-page


  // SIDEBAR
  .sidebar.codes-sidebar

    //assigned filters
    .assigned-filters.row
      .col-md-6.filter(ng-click="assignedFilter=true", ng-class="{'active':assignedFilter}") Assegnati
      .col-md-6.filter(ng-click="assignedFilter=false", ng-class="{'active':!assignedFilter}") Vuoti

    //filters
    .filters.row
      .col-md-4.filter
        i.glyphicon.glyphicon-bullhorn(ng-class="{'active':codeFilter.brand}")
        select.col-md-4.form-control.m-b.range-select(ng-options='brand as brand.name for brand in brands', ng-change="reloadFilterCampaigns(codeFilter.brand.id)", ng-model='codeFilter.brand')
          option(value="")
      .col-md-4.filter
        i.glyphicon.glyphicon-filter(ng-class="{'active':codeFilter.campaign}")
        select.col-md-4.form-control.m-b.range-select(ng-change="formatFilterCampaign()",ng-options='campaign as campaign.name for campaign in filterCampaigns', ng-model='codeFilter.campaign')
          option(value="")
      .col-md-4.filter
        i.glyphicon.glyphicon-calendar(ng-class="{'active':codeFilter.range}")
        input.col-md-4.form-control.date-picker(date-range-picker='', type='text', ng-model='codeFilter.range', ng-change="formatFilterRange(codeFilter.range)", options='datePickerOptions')

    // blocks
    .item-list
      .item(ng-if="assignedFilter==block.assigned", ng-click='selectBlock(block); formAssigned.$setPristine();', ng-repeat='block in blocks | block: codeFilter | orderBy:"createdAt":true', ng-class="{'active': currentBlock.id == block.id }")
        span.description {{block.description}}
        .block-fields
          .brand(ng-class="{'active':block.brand.id==codeFilter.brand.id}") {{block.brand.name}}
          .campaign(ng-class="{'active':block.campaign.id==codeFilter.campaign.id}") {{block.campaign.name}}
        .block-bottom
          span.date {{block.createdAt | amDateFormat:'l'}}
          span.title {{block.begin}} ({{block.quantity}})

  // HEADER
  .block-header.dashboard-page.bg-light.lter.b-b.wrapper-md.relative.acodes-header
    h1.m-n.font-thin.h3(ng-show='!currentBlock') 
    .codes-header-title(ng-show='currentBlock')
      h1.m-n.font-thin.h3 Blocco {{currentBlock.begin}} - {{currentBlock.end}}
      h1.small    ({{currentBlock.end - currentBlock.begin + 1}} codici)
    .center
    .right.actions(ng-show="currentBlock")
      .nonassigned-actions(ng-show="currentBlock.assigned")
        file-download(auth-download='', url='{{baseUrl}}code/export/{{currentBlock.begin}}/{{currentBlock.end}}', filename='campaign-{{currentBlock.campaign}}.csv')
        button.btn.btn-success(ng-click='saveBlock(currentBlock)' ng-disabled="formAssigned.$invalid || formAssigned.$pristine || (!currentBlock.campaign && !currentBlock.product)") Salva
      .assigned-actions(ng-show="!currentBlock.assigned")
        input.btn.btn-danger(type="submit", ng-enabled="security.isAuthorized(['admin']) && !currentBlock.assigned && currentBlock", ng-click='deleteBlock(codeParams,currentBlock.id)', value="Elimina")
      .assigned-actions(ng-show="!currentBlock.assigned")
        input.btn.btn-success(type="submit", ng-disabled="!formEmpty.$valid", ng-click='assignBlocks(codeParams)', value="Assegna") 

  // BLOCK DETAIL EMPTY BLOCK
  .block-detail(ng-show='currentBlock && !currentBlock.assigned')

    .panel.panel-success
      .panel-body
        form.form-horizontal(name='formEmpty', novalidate='', method='get', ng-submit='doBulk(form.$valid)', ng-class="{'submitted': formSubmitted}")
          // ID BEGIN / END
          .form-group.id-range
            label.col-sm-2.control-label ID iniziale
            .col-sm-2
              input.form-control.rounded(type='text', name='idBegin', ng-change='rangeChanged()', ng-model='codeParams.idBegin', ng-required='true')
          .form-group.id-range
            label.col-sm-2.control-label Quantita
            .col-sm-2
              input.form-control.rounded(type='number', name='range', ng-change='rangeChanged()', ng-model='codeParams.range', ng-required='true')
          // BRAND
          .line.line-dashed.b-b.line-lg.pull-in
          .form-group
            label.col-sm-2.control-label Brand
            .col-sm-10
              select.form-control.m-b(required="true", ng-change="reloadCampaigns(codeParams.brand)", ng-options='brand.id as brand.name for brand in brands', ng-model='codeParams.brand')
          // CAMPAIGN
          .line.line-dashed.b-b.line-lg.pull-in
          .form-group
            label.col-sm-2.control-label Campagna
            .col-sm-10
              select.form-control.m-b(name="campaign", ng-options='campaign.id as campaign.fullName for campaign in campaigns', ng-model='codeParams.campaign')
          .form-group(ng-if='!!codeParams.campaign && campaignsIndex[codeParams.campaign].type==2', ng-init='codeParams.winner=false')
            label.col-sm-2.control-label Vincitore
            .col-sm-10
              select.form-control.m-b(ng-options='winner.value as winner.name for winner in instantWinValues', ng-model='codeParams.winner')

  // BLOCK DETAIL ASSIGNED BLOCK
  .block-detail(ng-show='currentBlock && currentBlock.assigned')
    .panel.panel-success
      .panel-body
        form.form-horizontal(name='formAssigned', novalidate='', method='get', ng-class="{'submitted': formSubmitted}")
          // DESCRIPTION
          .form-group
            label.col-sm-2.control-label Descrizione
            .col-sm-10
              input.form-control(ng-model="currentBlock.description")
          // BRAND
          .form-group
            label.col-sm-2.control-label Brand
            .col-sm-10
              select.form-control.m-b(required, ng-change="reloadBrandRelatedModels(currentBlock.brand)", ng-options='brand.id as brand.name for brand in brands', ng-model='currentBlock.brand')
          // CAMPAIGN
          .form-group
            label.col-sm-2.control-label Campagna
            .col-sm-10
              select.form-control.m-b(ng-options='campaign.id as campaign.fullName for campaign in campaigns', ng-model='currentBlock.campaign', ng-change="selectCampaign(currentBlock)")
                option(value="")
          // PRODOTTO
          .form-group
            label.col-sm-2.control-label Prodotto
            .col-sm-10
              select.form-control.m-b(ng-options='product.id as product.name for product in products', ng-model='currentBlock.product')
                option(value="")


          .line.line-dashed.b-b.line-lg.pull-in
          //INSTANT WIN OPTIONS
          .form-group(ng-if='currentBlock.campaignType==2')
            label.col-sm-2.control-label Numero Vincitori
            .col-sm-1
              input(type="number",ng-model="currentBlock.winners")
          //VIRAL OPTIONS
          .form-group(ng-if='currentBlock.campaignType==5')
            label.col-sm-2.control-label Tipologia
            .col-sm-10
              select.form-control.m-b(ng-options="type.value as type.name for type in config.viralTypes",ng-model="currentBlock.type", ng-init="codeParams.type=1")
            label.col-sm-2.control-label Punti
            .col-sm-3
              input.form-control(type="number", ng-model="currentBlock.points")
          //COLLECTION POINTS OPTIONS
          .form-group(ng-if='currentBlock.campaignType==3')
            label.col-sm-2.control-label Punti
            .col-sm-1
              input(type="number",ng-model="currentBlock.points")

          
          // ACTION LINK
          .line.line-dashed.b-b.line-lg.pull-in
          .form-group
            label.col-sm-2.control-label Azione
            .col-sm-10
              select.form-control.m-b(ng-options='action.value as action.name for action in actionTypes', ng-model='currentBlock.actionType')
          .form-groupname
            label.col-sm-2.control-label
            //- YOUTUBE
            .col-sm-10(ng-if="currentBlock.actionType==1", ng-class='{"has-error" : formAssigned.youtube.$invalid && !formAssigned.youtube.$pristine}')
              label(ng-show="formAssigned.youtube.$invalid && !formAssigned.youtube.$pristine",class='control-label',for='inputLinkYoutube') Inserisci un link youtube valido.
              input.form-control(type='text', name='youtube', ng-model='$parent.currentBlock.actionText', placeholder='Link video', youtube-validate='',id='inputLinkYoutube')
              
            //- HTML
            .col-sm-10(ng-show="currentBlock.actionType==2")
              div(text-angular='', ng-model='currentBlock.actionText', ta-toolbar="[['h1','h2','h3','ul'],['bold','italics','underline']]")
              // IMAGE CROP
              .action-image-crop
                .col-sm-3
                  label.col-sm-12.control-label.no-padding Seleziona un'immagine
                  input#fileInput.col-sm-12.no-padding(type='file')
                .col-sm-6(ng-show="currentBlock.actionImage && !imageEdited")
                  img(ng-src="{{currentBlock.actionImage}}")
                .col-sm-6(ng-show="imageEdited")
                  .wrapper-sm.b-a.bg-white.m-r-xs.m-b-xs
                    .bg-light(style='height:500px')
                      img-crop(image='imagetmp', result-image='actionCroppedImage', result-image-size='500', area-type='square')

alert-message(message='logService.lastMessage')
alert-message(message='alert')
