.bg-light.lter.b-b.wrapper-md
  h1.m-n.font-thin.h3 Genera Codici
#codes-generate-page.wrapper-md
  .panel.panel-success
    .panel-body
      form.form-horizontal(name='form', novalidate='', method='get', ng-submit='generate(form.$valid)', ng-class="{'submitted': formSubmitted}")
        // ID BEGIN / END

        .form-group.id-range
          label.col-sm-2.control-label Quantita
          .col-sm-2
            input.form-control.rounded(type='number', name='range', ng-change='rangeChanged()', ng-model='codeParams.range', ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }", ng-required='true', autofocus)
          .code-suggestion.col-sm-8
            div(ng-show='!!codeSuggestion') {{codeSuggestion}}
          .custom-error(ng-show='form.idEnd.$invalid')
            | Errore: 
            span(ng-show='form.idEnd.$error.required') Campo obbligatorio

        .form-group.id-range
          label.col-sm-2.control-label ID iniziale
          .col-sm-2
            input.form-control.rounded(type='number', name='idBegin',ng-model="codeParams.idBegin", ng-disabled="!codeParams.idBegin", ng-change='idBeginChanged()', ng-model-options="{updateOn: 'blur'}", ng-required='true')
          .custom-error(ng-show='form.idBegin.$invalid')
            | Errore: 
            span(ng-show='form.idBegin.$error.required') Campo obbligatorio

        // TIPOLOGIA (DIGITALE / FISICO)
        .line.line-dashed.b-b.line-lg.pull-in
        .form-group
          label.col-sm-2.control-label Tipologia Codici
          .col-sm-10
            select.form-control.m-b(ng-options='type.value as type.name for type in codeTypes', ng-model='codeParams.exported')
        // SUBMIT BUTTONS
        .line.line-dashed.b-b.line-lg.pull-in
        .form-group
          .col-sm-4.col-sm-offset-2
            button.btn.btn-default(type='submit') Annulla
            button.btn.btn-primary(ng-disabled='!isRangeValid', type='submit') Genera
        .line.line-dashed.b-b.line-lg.pull-in(ng-show='!!alert.msg')
        alert(ng-show='!!alert.msg', type='{{alert.type}}', close='closeAlert($index)') {{alert.msg}}
  alert-message(message='logService.lastMessage')
  alert-message(message='alert')
