<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="fragment" content="!" />
    <meta name="viewport" content="width=device-width, user-scalable=no, 
    initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">    

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/simple-line-icons/css/simple-line-icons.css" />
    <link rel="stylesheet" href="bower_components/animate.css/animate.css" />
    <link rel="stylesheet" href="bower_components/flag-icons/flags.css" />
    <link rel="stylesheet" href="bower_components/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="bower_components/ngImgCrop/compile/minified/ng-img-crop.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css" />
    <link rel='stylesheet' href='bower_components/textAngular/src/textAngular.css'>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/login.css" />
    <link rel="stylesheet" href="styles/home.css" />
    <link rel="stylesheet" href="styles/aside.css" />
    <link rel="stylesheet" href="styles/header.css" />
    <link rel="stylesheet" href="styles/angulr.css" />
    <link rel="stylesheet" href="styles/dashboard.css" />
    <link rel="stylesheet" href="styles/angulr-font.css" />
    <link rel="stylesheet" href="styles/jvector.css" />
    <link rel="stylesheet" href="styles/form.css" />
    <link rel="stylesheet" href="styles/alertMessage.css" />
    <link rel="stylesheet" href="styles/grid.css" />
    <link rel="stylesheet" href="styles/news.css" />
    <link rel="stylesheet" href="styles/codes.css" />
    <link rel="stylesheet" href="styles/invalidators.css" />
    <link rel="stylesheet" href="styles/notifications.css" />
    <!-- endbuild -->
  </head>

  <body ng-app="app" class="app" ng-controller="App" ng-class="{'app-header-fixed':app.settings.headerFixed, 'app-aside-fixed':app.settings.asideFixed, 'app-aside-folded':config.aside.folded, 'app-aside-dock':app.settings.asideDock, 'container':app.settings.container,'unauthenticated':!security.isAuthenticated}">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <!-- ****** -->
    <!-- CONTENT -->
    <!-- ****** -->
          <!-- navbar -->
          <div ng-controller="Nav" ng-include="'layout/header.html' " class="app-header navbar"></div>
          <!-- / navbar -->

          <!-- menu -->
          <div ng-controller="Nav" ng-if="security.isAuthenticated" class="app-aside hidden-xs {{config.theme.asideColor}}" ng-class="{'hide': app.hideAside }">
              <div class="aside-wrap"><nav ui-nav class="navi clearfix" ng-include="'/layout/nav.html'"></nav></div>
          </div>
          <!-- / menu -->

          <!-- content -->
          <div class="app-content">
            <div ui-butterbar></div>
            <a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".app-aside" ></a>
            <div class="app-content-body fade-in-up" ng-view></div>
          </div>
          <!-- /content -->
    <!-- ****** -->
    <!-- CONTENT -->
    <!-- ****** -->



    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src='bower_components/ng-lodash/build/ng-lodash.js'></script>
    <script src="bower_components/angular-data/dist/angular-data.min.js"></script>
    <script src="bower_components/angular-cache/dist/angular-cache.min.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/angular-ui-utils/ui-utils.js"></script>
    <script src="bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.js"></script>
    <script src="bower_components/bower-jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="bower_components/flot/jquery.flot.js"></script>
    <script src="bower_components/flot-spline/js/jquery.flot.spline.js"></script>
    <script src="bower_components/ngImgCrop/compile/minified/ng-img-crop.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/angular-ui-grid/ui-grid.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="bower_components/angular-daterangepicker/js/angular-daterangepicker.js"></script>
    <script src='bower_components/textAngular/dist/textAngular-rangy.min.js'></script>
    <script src='bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>
    <script src='bower_components/textAngular/dist/textAngular.min.js'></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>

    <!-- endbower -->
    
    <script src="bower_components/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="bower_components/flot/jquery.flot.pie.js"></script>
    <script src="bower_components/flot/jquery.flot.time.js"></script>
    <script src="bower_components/flot/jquery.flot.resize.js"></script>
    <script src="bower_components/flot/jquery.flot.tooltip.js"></script>
    <script src="bower_components/bower-jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="app.module.js"></script>
    <script src="app.routes.js"></script>
    <script src="app.config.js"></script>
    <script src="app.controller.js"></script>
    <script src="layout/header.controller.js"></script>
    <script src="layout/nav.controller.js"></script>
    <script src="pages/brands.controller.js"></script>
    <script src="pages/brand.controller.js"></script>
    <script src="pages/dashboard.controller.js"></script>
    <script src="pages/campaigns.controller.js"></script>
    <script src="pages/campaign.controller.js"></script>
    <script src="pages/news.controller.js"></script>
    <script src="pages/products.controller.js"></script>
    <script src="pages/product.controller.js"></script>
    <script src="pages/codes/generate.controller.js"></script>
    <script src="pages/codes/edit.controller.js"></script>
    <script src="pages/invalidators.controller.js"></script>
    <script src="pages/usersExport.controller.js"></script>
    <script src="pages/notifications.controller.js"></script>
    <script src="admin/login.controller.js"></script>
    <script src="languages/italian.config.js"></script>
    <script src="languages/langdetect.run.js"></script>
    <script src="log/log.http-interceptor.js"></script>
    <script src="log/log.service.js"></script>
    <script src="models/angulardata.config.js"></script>
    <script src="models/user.model.js"></script>
    <script src="models/campaign.model.js"></script>
    <script src="models/code.model.js"></script>
    <script src="models/dashboard.model.js"></script>
    <script src="models/award.model.js"></script>
    <script src="models/news.model.js"></script>
    <script src="models/product.model.js"></script>
    <script src="models/imagenews.model.js"></script>
    <script src="models/imageproduct.model.js"></script>
    <script src="models/codeblock.model.js"></script>
    <script src="models/invalidator.model.js"></script>
    <script src="security/auth.http-interceptor.js"></script>
    <script src="security/auth.routes.js"></script>
    <script src="security/security.service.js"></script>
    <script src="services/commonData.service.js"></script>
    <script src="services/langUtils.service.js"></script>
    <script src="services/utils.service.js"></script>
    <script src="services/utilUser.service.js"></script>
    <script src="components/jquery-jvectormap-it-mill-en.js"></script>
    <script src="components/alert.directive.js"></script>
    <script src="components/adaptToWindow.directive.js"></script>
    <script src="components/authDownload.directive.js"></script>
    <script src="components/youtube.validate.js"></script>
    <script src="components/modals/editAward.controller.js"></script>
    <script src="filters/block.filter.js"></script>

    <!-- ADDITIONAL SCRIPTS TO BE INJECTED BY grunt-sails-linker -->
    <!--SCRIPTS-->
    <script src="mock/mockbackend.empty.js"></script>
    <!--SCRIPTS END-->
    
    <!-- endbuild --> 

    <!-- // <script src='//maps.googleapis.com/maps/api/js?sesnor=false'></script>   -->

</body>
</html>
