#brands-page
  .option-bar-container
    .option-bar.bg-light.lter.b-b.wrapper-md(ng-class="{'active': gridApi.selection.getSelectedRows().length}")
      .option-bar-content
        li(ng-click='deleteSelected()')
          i.glyphicon.glyphicon-remove
          span Elimina
        li(ng-click='editSelected()')
          i.glyphicon.glyphicon-edit
          span Modifica
  .wrapper-md
    .table-responsive
      .grid(ui-grid='gridOptions', ui-grid-auto-resize='', ui-grid-selection='', adapt-to-window='')
