#brand-page.wrapper-md
  .panel.panel-default
    .panel-heading.font-bold
      | Modifica Brand
    .panel-body
      alert(ng-if='!!invalidId', type='{{alert.type}}', close='closeAlert($index)') {{alert.msg}}
      form.form-horizontal(name='brandForm', ng-show='!invalidId', method='get', ng-submit='save(brandForm.$valid)')
        .form-group
          label.col-sm-2.control-label Nome
          .col-sm-10
            input.form-control(type='text', ng-model='brand.name', ng-required='true')
        .form-group
          label.col-sm-2.control-label Username
          .col-sm-10
            input.form-control(type='text', ng-model='brand.username', ng-required='true')
        .form-group
          label.col-sm-2.control-label Email
          .col-sm-10
            input.form-control(type='text', ng-model='brand.email', ng-required='true')
        .form-group
          label.col-sm-2.control-label Billing City
          .col-sm-10
            input.form-control(type='text', ng-model='brand.location')
        .form-group
          label.col-sm-2.control-label VAT
          .col-sm-10
            input.form-control(type='text', ng-model='brand.vat')
        .form-group
          label.col-sm-2.control-label Sito Web
          .col-sm-10
            input.form-control(type='text', ng-model='brand.link')
        .form-group
          label.col-sm-2.control-label Telefono
          .col-sm-10
            input.form-control(type='text', ng-model='brand.phone')
        // IMAGE
        .line.line-dashed.b-b.line-lg.pull-in
        .form-group
          .col-sm-2
            label.col-sm-12.control-label.no-padding Seleziona un'immagine
            input#fileInput.col-sm-12.no-padding(type='file')
          // IMAGE CROP
          .col-sm-6(ng-show='imageEdited')
            .col
              .wrapper-sm.b-a.bg-white.m-r-xs.m-b-xs
                .bg-light(style='height:320px')
                  img-crop(image='myImage', result-image='myCroppedImage', result-image-size='500', area-type='square')
          // EXISTING IMAGE
          .col-sm-4(ng-show='!imageEdited && brand.image')
            img(ng-src='{{brand.image}}')
        // SUBMIT BUTTONS
        .line.line-dashed.b-b.line-lg.pull-in
        .form-group
          .col-sm-4.col-sm-offset-2
            button.btn.btn-default(type='submit') Annulla
            button.btn.btn-primary(type='submit') Salva Cambiamenti
  alert-message(message='logService.lastMessage')
