#brand-page.wrapper-md
  .panel.panel-default
    .panel-heading.font-bold
      | Modifica Campagna
    .panel-body
      form.form-horizontal(method='get')
        // NAME
        .form-group
          label.col-sm-2.control-label Nome
          .col-sm-10
            input.form-control(type='text', ng-model='campaign.name', ng-required='true')
        .form-group
          label.col-sm-2.control-label Descrizione
          .col-sm-10
            textarea.form-control(rows='5', ng-model='campaign.description', ng-required='false')
        // DATE BEGIN
        .line.line-dashed.b-b.line-lg.pull-in
        .form-group
          label.col-sm-2.control-label Data di inizio
          .col-sm-10
            .input-group.w-md
              input.form-control(type='text', datepicker-popup='{{format}}', ng-model='campaign.dateStart', is-open='openedStart', datepicker-options='dateOptions', close-text='Close')
              span.input-group-btn
                button.btn.btn-default(type='button', ng-click='openDateStart($event)')
                  i.glyphicon.glyphicon-calendar
        // DATE END
        .form-group
          label.col-sm-2.control-label Data di fine
          .col-sm-10
            .input-group.w-md
              input.form-control(type='text', datepicker-popup='{{format}}', ng-model='campaign.dateEnd', is-open='openedStop', datepicker-options='dateOptions', close-text='Close')
              span.input-group-btn
                button.btn.btn-default(type='button', ng-click='openDateStop($event)')
                  i.glyphicon.glyphicon-calendar
        // TYPE
        .line.line-dashed.b-b.line-lg.pull-in
        .form-group
          label.col-sm-2.control-label Tipologia
          .col-sm-10
            select.form-control.m-b(ng-options='type.type as type.typeName for type in campaignTypes', ng-model='campaign.type', ng-required='true') {{campaignType.typeName}}
        //LINK
        .form-group
          label.col-sm-2.control-label Link
          .col-sm-10
            input.form-control(type='text', ng-model='campaign.link', ng-required='false')
        // BRAND
        .line.line-dashed.b-b.line-lg.pull-in
        .form-group
          label.col-sm-2.control-label Brand
          .col-sm-10
            select.form-control.m-b(ng-options='brand.id as brand.name for brand in brands', ng-model='campaign.brand', ng-required='true')

        // VISIBLE
        .line.line-dashed.b-b.line-lg.pull-in
        .form-group
          label.col-sm-2.control-label Visibile
          .col-sm-10
            input.form-control(type='checkbox',ng-model='campaign.visible',ng-true-value='true',ng-false-value='false')

        // IMAGE
        .line.line-dashed.b-b.line-lg.pull-in
        .form-group
          .col-sm-2
            label.col-sm-12.control-label.no-padding Immagine
            input#fileInput.col-sm-12.no-padding(type='file')
          // IMAGE CROP
          .col-sm-6(ng-show='imageEdited')
            .col
              .wrapper-sm.b-a.bg-white.m-r-xs.m-b-xs
                .bg-light(style='height:500px')
                  img-crop(image='myImage', result-image='myCroppedImage', result-image-size='500', area-type='square')
          // EXISTING IMAGE
          .col-sm-4(ng-show='!imageEdited')
            img(ng-src='{{campaign.image}}')
        // AWARDS
        .line.line-dashed.b-b.line-lg.pull-in
        .form-group(ng-show="!newCampaign")
          label.col-sm-2.control-label Premi
          .col-xs-10.premi-list
            .col-xs-12
              .col-sm-3.col-xs-6.premio-container(ng-repeat='award in awards')
                .premio
                  img(ng-show='!!award.image', ng-src='{{award.image}}')
                  img(ng-if='!award.image', src='/content/images/award_placeholder.jpg')
                  .award-content
                    .award-actions.pull-right
                      i.glyphicon.glyphicon-edit(ng-click='editAward(award)')
                      i.glyphicon.glyphicon-trash(ng-click='deleteAward(award)')
                    .award-name
                      span {{award.name}}
            .col-xs-12.add-award
              button.btn.btn-primary(ng-click='editAward()') Aggiungi Premio
        h3.save-alert(ng-show="newCampaign") Salva la campagna per aggiungere dei premi
        // SUBMIT BUTTONS
        .line.line-dashed.b-b.line-lg.pull-in
        .form-group.submit-buttons
          .col-sm-4.col-sm-offset-2.pull-right
            button.btn.btn-default(type='submit') Annulla
            button.btn.btn-primary(ng-click='save()', type='submit') Salva Cambiamenti
