#dashboard-page.bg-light.lter.b-b.wrapper-md.relative
  h1.m-n.font-thin.h3 Dashboard
  .center
  .right
    i.glyphicon.glyphicon-tags
    select.form-control.m-b.range-select(ng-change="filterChanged('brand')", ng-options='brand.id as brand.name for brand in brands', ng-model='filter.brand')
    i.glyphicon.glyphicon-filter
    select.form-control.m-b.range-select(ng-change="filterChanged('campaign')", ng-options='campaign.id as campaign.name for campaign in campaigns', ng-model='filter.campaign', ng-select='campaign.id="all"')
    i.glyphicon.glyphicon-qrcode
    select.form-control.m-b.range-select(ng-change="filterChanged('codeblock')", ng-options='codeblock.id as codeblock.description+" "+codeblock.begin+"-"+codeblock.end for codeblock in codeblocks', ng-model='filter.codeblock')
    i.glyphicon.glyphicon-list(ng-class="{'collapsed': !filter.lastCodes}")
    select.form-control.m-b.range-select(ng-class="{'collapsed': !filter.lastCodes}", ng-change="filterChanged('lastCodes')", ng-options='last.value as last.name for last in lastCodesMenu', ng-model='filter.lastCodes')
    i.glyphicon.glyphicon-calendar(ng-class="{'collapsed': rangeCollapsed}")
    input#date-range-picker.form-control.date-picker(ng-class="{'collapsed': rangeCollapsed}", ng-change="filterChanged('range')", date-range-picker='', type='text', ng-model='filter.range', options='datePickerOptions')
#dashboard-page.wrapper-md
  .row
    // TOTAL SCANS
    .col-md-6(ng-show='!lastCodesView')
      .acol-xs-12.m-b-md
        .r.bg-light.dker.item.hbox.no-border
          .col.dk.padder-v.padder
            .text-primary-dk.font-thin.h1
              span {{scanTotal}}
            span.text-muted.text-xs Scansioni totali
            .right.active-users
              span.text-primary-dk.font-thin.h1 {{totalNew}}
              span.text-muted.text-xs Utenti attivi

    // COUNTRIES
    .col-sm-6(ng-show='!lastCodesView')
      .panel.panel-default
        .panel-heading
          .clearfix
            .clear
              .b-b.b-light
                | Paese
        .list-group.no-radius.alt
          a.list-group-item(ng-repeat='country in countries', href='')
            span.badge.bg-light {{country.value}}
            i.flag-icon(class='flag-icon-{{country.countryCode}}')
            |               {{country.country}}
    // USER CHART
    .col-md-12(ng-show='!lastCodesView')
      .panel.panel-default
        .panel-heading.b-b.b-light Andamento scansioni
        .panel-body.small
          #scan-plot(style='height:240px')
    // DONUTS
    .row(ng-show='!lastCodesView')
      .col-md-6
        .panel.panel-default
          .panel-heading.b-b.b-light Nuovi Utenti
          .panel-body.small
            #new-user-chart(style='height:240px')
      .col-md-6
        .panel.panel-default
          .panel-heading.b-b.b-light Sesso
          .panel-body#gender-info.small
            .male
              img(src="/content/images/male.png")
              .text
                span.percentage {{genderData.malePercentage}} %
                span.info Uomini
            .female
              img(src="/content/images/female.png")
              .text
                span.percentage {{genderData.femalePercentage}} %
                span.info Donne
      .col-md-6
        .panel.panel-default
          .panel-heading.b-b.b-light Piattaforma
          .panel-body.small
            #os-chart(style='height:240px')
      .col-md-6
        .panel.panel-default
          .panel-heading.b-b.b-light Eta
          .panel-body.small
            #age-chart(style='height:240px')
    // MAP
    .col-sm-12.map-container
      .panel.b-a
        .panel-heading.b-b.b-light.relative
          span Geolocalizzazione
          .right(ng-show='!lastCodesView')
            button.btn.btn-default.btn-sm(ng-click="changeMap('world_mill_en')", ng-class="{'btn-info':mapOptions.map=='world_mill_en'}") Mondo
            button.btn.btn-default.btn-sm(ng-click="changeMap('it_mill_en')", ng-class="{'btn-info':mapOptions.map=='it_mill_en'}") Italia
        .panel-body
          .row
            div(ng-class="{'col-sm-8':!lastCodeView,'col-sm-12':lastCodeView}", ng-show='!lastCodesView')
              #geo-map(style='height:300px;')
            .col-sm-4(ng-show='!lastCodesView')
              .h4.m-b.font-thin Città più attive
              div(ng-repeat="city in cities | orderBy: 'value':true | limitTo:6")
                p.m-b-xs {{city.value}} - {{city.name}}
                .progress.progress-xs
                  .progress-bar.progress-bar-info(data-toggle='tooltip', data-original-title='100%', style='width: {{city.value / scanTotal * 100}}%')
            .col-sm-12(ng-if='lastCodesView')
              .detail-map
                ui-gmap-google-map(center='detailMap.center', zoom='detailMap.zoom')
                  ui-gmap-markers(models='detailMapMarker', coords="'self'", icon="'icon'")
      // LAST CODES TABLE
      .col-sm-12.row.last-codes-table(ng-show='lastCodesView')
        .table-responsive
          .grid(ui-grid='gridOptions', ui-grid-auto-resize='', ui-grid-selection='')
