#invalidators-page.wrapper-md
  .panel.panel-default
    .panel-heading.font-bold
      | Invalidatori
    .panel-body
        // BRAND
        .form-group
          label.col-sm-2.control-label Brand
          .col-sm-10
            select.form-control.m-b(ng-options='brand as brand.name for brand in brands', ng-change="loadInvalidators(params.brand)", ng-model='params.brand', ng-required='true')

        form(ng-submit="addInvalidator()", ng-if="params.brand")
          .form-group
            .col-sm-offset-2.col-sm-10.add-action
              button
                i.glyphicon.glyphicon-plus
              input.form-control.col-sm-12(type="text",placeholder="Aggiungi username o email", typeahead="user as user.fullName for user in findUser($viewValue)", ng-model="params.user") 

        .form-group(ng-if="params.brand")
          .table-responsive.col-sm-10.col-sm-offset-2
            .grid(aexternal-scopes="$scope", ui-grid='gridOptions', ui-grid-auto-resize='', ui-grid-selection='', xadapt-to-window='')
alert-message(message='logService.lastMessage')
alert-message(message='alert')
