#news-page
  .sidebar
    .add(ng-class="{'active': isNew}", ng-click='addNews()')
      i.glyphicon.glyphicon-plus
      span Aggiungi Notizia
    .news-list
      .news(ng-repeat='news in newsList', ng-click='selectNews(news)', ng-class="{'active': newsDetailObj.id==news.id}")
        span.title {{news.title}}
        span.date {{news.date}}
  .news-detail.col-xs-9(ng-show='showDetail')
    .panel.panel-default
      .panel-body
        form.form-horizontal(name='form', novalidate='', ng-submit='save(form.$valid)', ng-class="{'submitted': formSubmitted}")
          .form-group
            label.col-sm-2.control-label Data
            .col-sm-10
              input.form-control(disabled='true', type='text', name='title', ng-model='newsDetailObj.createdAt')
              .custom-error(ng-show='form.title.$invalid')
                | Errore: 
                span(ng-show='form.title.$error.required') Campo obbligatorio
          // TITOLO
          .line.line-dashed.b-b.line-lg.pull-in
          .form-group
            label.col-sm-2.control-label Titolo
            .col-sm-10
              input.form-control(type='text', name='title', ng-model='newsDetailObj.title', ng-required='true')
              .custom-error(ng-show='form.title.$invalid')
                | Errore: 
                span(ng-show='form.title.$error.required') Campo obbligatorio
          // DESCRIZIONE
          .form-group
            label.col-sm-2.control-label Descrizione
            .col-sm-10
              input.form-control(type='text', ng-model='newsDetailObj.description', ng-required='false')
          //LINK
          .form-group
            label.col-sm-2.control-label Link
            .col-sm-10
              input.form-control(type='text', ng-model='newsDetailObj.link', ng-required='false')
          // IMMAGINI
          .line.line-dashed.b-b.line-lg.pull-in(ng-show='newsDetailObj.images.length')
          .form-group(ng-show='newsDetailObj.images.length')
            label.col-sm-2.control-label Immagini
            .col-xs-10.news-list
              .col-xs-12
                .col-sm-3.col-xs-6.image-container(ng-repeat='image in newsDetailObj.images')
                  .image
                    img(ng-src='{{image.path}}')
                    .image-content
                      .image-actions.pull-right
                        i.glyphicon.glyphicon-trash(ng-click='deleteImageLocal(image)')
          .form-gorup.add-image
            label.col-sm-2.control-label Aggiungi un'immagine
            .col-xs-10
              .col-sm-6
                input#fileInput.col-sm-12.no-padding(type='file')
                // IMAGE CROP
                .col-sm-12(ng-show='imageEdited')
                  .col
                    .wrapper-sm.b-a.bg-white.m-r-xs.m-b-xs
                      .bg-light(style='height:320px')
                        img-crop(image='myImage', result-image='myCroppedImage', result-image-size='500', area-type='square')
                .col-sm-12
                  button.btn.btn-success(type='button', ng-show='imageEdited', ng-click='addImageLocal()') Aggiungi
          .col-xs-12.text-center(ng-show='!newsDetailObj.id')

          // SUBMIT BUTTONS
          .line.line-dashed.b-b.line-lg.pull-in
          .form-group.submit-buttons
            .col-sm-4.col-sm-offset-2.pull-right
              button.btn.btn-danger(type='button', ng-click='deleteNews()') Elimina
              button.btn.btn-default(type='button', ng-click='cancel()') Annulla
              button.btn.btn-primary(ng-click='save()', type='submit',ng-disabled="saveLabelObj.disable") {{saveLabelObj.text}}
  alert-message(message='logService.lastMessage')
  alert-message(message='alert')
