#notifications-page.wrapper-md
  .panel.panel-default
    .panel-heading.font-bold
      | Notifiche Push
    .panel-body
      form.form-horizontal(name='exportUsersForm', ng-show='!invalidId', method='get', ng-submit='sendPush()')
        // BRAND
        .line.line-dashed.b-b.line-lg.pull-in
        .form-group
          label.col-sm-2.control-label Brand
          .col-sm-10
            select.form-control.m-b(ng-change="reloadCampaigns(messageParams.brand)", ng-model='messageParams.brand')
              option(value="") Tutti i brand
              option(ng-repeat="brand in brands", value="{{brand.id}}") {{brand.name}}
        // CAMPAIGN
        .line.line-dashed.b-b.line-lg.pull-in
        span.col-sm-offset-2.hint Seleziona campagna o utente:
        .form-group
          label.col-sm-2.control-label Campagna
          .col-sm-4
            select.form-control.m-b(ng-disabled="!messageParams.brand", name="campaign", ng-model='messageParams.campaign')
              option(value="") 
              option(ng-repeat="campaign in campaigns", value="{{campaign.id}}") {{campaign.fullName}}

        // USER
        .form-group
          label.col-sm-2.control-label Utente
          .col-sm-4
            input.form-control.col-sm-12(type="text", ng-disabled="messageParams.campaign", placeholder="Cerca email o nome utente", typeahead="user as user.fullName for user in findUser($viewValue)", ng-model="messageParams.user") 


        // TEXT MESSAGE
        .line.line-dashed.b-b.line-lg.pull-in
        .form-group
          label.col-sm-2.control-label Messaggio
          .col-sm-10
            input.form-control(required, maxlength="140", type="text", ng-model="messageParams.message")

        //SUBMIT
        .line.line-dashed.b-b.line-lg.pull-in
        .form-group
          .col-sm-4.col-sm-offset-2
            button.btn.btn-primary(ng-disabled="loading", type='submit') Invia
  alert-message(message='alert')
