#brand-page.wrapper-md
  .panel.panel-default
    .panel-heading.font-bold
      | Modifica Prodotto
    .panel-body
      form.form-horizontal(name='productForm',method='get',ng-submit='save()')
        // BRAND
        .line.line-dashed.b-b.line-lg.pull-in
        .form-group
          label.col-sm-2.control-label Brand
          .col-sm-10
            select.form-control.m-b(ng-model="product.brand", required, value="{{product.brand}}")
              option(value="", selected="{{!product.brand}}") Nessun brand
              option(ng-repeat="brand in brands", value="{{brand.id}}", ng-selected="{{product.brand==brand.id}}") {{brand.name}}
        // NAME
        .form-group
          label.col-sm-2.control-label Nome
          .col-sm-10
            input.form-control(type='text', ng-model='product.name', required)
        .form-group
          label.col-sm-2.control-label Descrizione
          .col-sm-10
            textarea.form-control(rows='5', ng-model='product.description')
        // SCADENZA
        .line.line-dashed.b-b.line-lg.pull-in
        .form-group
          label.col-sm-2.control-label Scadenza
          .col-sm-10
            .input-group.w-md
              input.form-control(type='text', datepicker-popup='{{format}}', ng-model='product.expire', is-open='openedStart', datepicker-options='dateOptions', close-text='Close')
              span.input-group-btn
                button.btn.btn-default(type='button', ng-click='openDateStart($event)')
                  i.glyphicon.glyphicon-calendar
        //LINK
        .form-group
          label.col-sm-2.control-label Link
          .col-sm-10
            input.form-control(type='text', ng-model='product.link')
        // IMMAGINI
        .line.line-dashed.b-b.line-lg.pull-in(ng-show='product.path && product.images.length')
        .form-group(ng-show='product.images.length')
          label.col-sm-2.control-label Immagini
          .col-xs-10.news-list
            .col-xs-12
              .col-sm-3.col-xs-6.image-container(ng-repeat='image in product.images')
                .image
                  img(ng-src='{{image.path}}')
                  .image-content
                    .image-actions.pull-right
                      i.glyphicon.glyphicon-trash(ng-click='deleteImageLocal(image)')
        .line.line-dashed.b-b.line-lg.pull-in
        .form-gorup.add-image
          //- (ng-show='product.id')
          label.col-sm-2.control-label Aggiungi un'immagine
          .col-xs-10
            .col-sm-6
              input#fileInput.col-sm-12.no-padding(type='file')
              // IMAGE CROP
              .col-sm-12(ng-show='imageEdited')
                .col
                  .wrapper-sm.b-a.bg-white.m-r-xs.m-b-xs
                    .bg-light(style='height:320px')
                      img-crop(image='myImage', result-image='myCroppedImage', result-image-size='500', area-type='square')
              .col-sm-12
                button.btn.btn-success(type='button', ng-show='imageEdited', ng-click='addImageLocal()') Aggiungi
        //- .col-xs-12.text-center
          //- (ng-show='!product.id')
          //- h4 Salvare il prodotto prima di caricare un'immagine
        // SUBMIT BUTTONS
        .line.line-dashed.b-b.line-lg.pull-in
        .form-group.submit-buttons.row
          .col-sm-4.col-sm-offset-2.pull-right
            button.btn.btn-default(type='button',ng-click='cancel()') Annulla
            button.btn.btn-primary(type='submit',ng-disabled="saveLabelObj.disable") {{saveLabelObj.text}}
alert-message(message='logService.lastMessage')
alert-message(message='alert')
