#users-export-page.wrapper-md
  .panel.panel-default
    .panel-heading.font-bold
      | Esporta Utenti
    .panel-body
      form.form-horizontal(name='exportUsersForm', ng-show='!invalidId', method='get', ng-submit='exportUsers()')
        // BRAND
        .line.line-dashed.b-b.line-lg.pull-in
        .form-group
          label.col-sm-2.control-label Brand
          .col-sm-10
            select.form-control.m-b(ng-change="reloadCampaigns(codeParams.brand)", ng-model='codeParams.brand')
              option(value="") Tutti i brand
              option(ng-repeat="brand in brands", value="{{brand.id}}") {{brand.name}}
        // CAMPAIGN
        .line.line-dashed.b-b.line-lg.pull-in
        .form-group
          label.col-sm-2.control-label Campagna
          .col-sm-10
            select.form-control.m-b(ng-disabled="!codeParams.brand", name="campaign", ng-model='codeParams.campaign')
              option(value="") Tutti le campagne
              option(ng-repeat="campaign in campaigns", value="{{campaign.id}}") {{campaign.fullName}}

        //SUBMIT
        .line.line-dashed.b-b.line-lg.pull-in
        .form-group
          .col-sm-4.col-sm-offset-2
            button.btn.btn-primary(ng-show="!exportLink", type='submit') Esporta
            a(ng-show="exportLink", ng-href="{{exportLink}}", ng-click="resetLink()")
              .btn.btn-success(ang-click="exportLink=null") Download
  alert-message(message='logService.lastMessage')
