
<div id="edit-award-modal" ng-init="initialize()">
    <div class="modal-header">
        <h3 class="modal-title">Modifica Premio</h3>
    </div>
    <form name="form" novalidate class="form-horizontal" ng-submit="ok(form.$valid)" ng-class="{'submitted': formSubmitted}">

        <div class="modal-body">       

            <!-- NAME -->
                <div class="form-group">
                  <label class="col-sm-2 control-label">Nome</label>
                  <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" ng-model="award.name" ng-required="true">
                  </div>
                  <div class="custom-error" ng-show="form.name.$invalid">Errore: 
                    <span ng-show="form.name.$error.required">Campo obbligatorio</span>
                  </div>
                </div>

            <!-- DESCRIPTION -->
                <div class="form-group">
                  <label class="col-sm-2 control-label">Descrizione</label>
                  <div class="col-sm-10">
                    <input type="text" name="description" class="form-control" ng-model="award.description">
                  </div>
                </div>

            <!-- POINTS -->
                <div class="form-group" ng-show="campaign.type!=2">
                  <label class="col-sm-2 control-label">Punti</label>
                  <div class="col-sm-2">
                    <input type="number" name="points" class="form-control" ng-model="award.points">
                  </div>
                </div>

        <!-- IMAGE -->
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
              <div class="col-sm-2">
                <label class="col-sm-12 control-label no-padding">Immagine</label>
                <input class="col-sm-12 no-padding" type="file" id="awardFileInput"/>
              </div>

              <!-- IMAGE CROP -->
                  <div class="col-sm-6" ng-show="imageEdited">
                    <div class="col">
                      <div class="wrapper-sm b-a bg-white m-r-xs m-b-xs">
                        <div class="bg-light" style="height:200px">
                          <img-crop 
                            image="formImage" 
                            result-image="formCroppedImage"
                            result-image-size="500"
                            area-type="square"
                          ></img-crop>
                        </div>
                      </div>
                    </div>
                  </div>

              <!-- EXISTING IMAGE -->
                  <div class="col-sm-4" ng-show="!imageEdited">
                        <img ng-src="{{award.image}}">
                  </div>
              
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success">OK</button>
            <button class="btn btn-default" ng-click="cancel()">Annulla</button>
        </div>

    </form>
</div>
